*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: aqua;
    height: 75px;
    width: 100%;
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}
header h1{
    margin: 0;
    padding: 0;
    font-size: 40px;
}
header a#menu{
    text-decoration: none;
    color: black;
}
a#home{
    text-decoration: none;
    color: black;
    
}

header ul{
    list-style: none;
    margin: 0;
    display: flex;
}

header li{
    margin: 0 0 0 20px;
    font-size: 14px;
}
header nav{
    margin: 0 0 0 auto;
}
div#picture{
    padding: 75px 0 0 0;
}
div.menu#mainmenu{
    height: 50px;
    background-color: gray;
}
div#picture img{
    width: 100%;
    height: 400px;
    
    object-fit: cover;
}
div.menu#mainmenu li{
    margin: auto;
    font-size: 20px;
}
div.menu#mainmenu ul{
    list-style: none;
    margin: 0;
    display: flex;
}
div.menu#mainmenu nav{
    margin: 0 0 0 auto;
}

div.menu#mainmenu a{
    text-decoration: none;
    color: black;
}
main{
    padding: 0px;
    border: 0;
    display: flex;
    clear: both;
    background-color: white;
}

div.main{
    height: 500px;
}

main div#main{
    width: 70%;
}

div.main#main{
    padding: 0 50px 0 100px;
    border: solid 2px black;
}

main div#sidemenu{
    width: 30%;
    padding: 50px 20px 50px 50px;
    border: solid 2px black;
}

div#createbot{
    text-decoration: none;
}


footer{
    background-color: darkgreen;

}
