body{
    background-color: whitesmoke;
}

.header{
    height: 150px;
    background-color: gray;
}

.footer{
    height: 200px;
    background-color: gray;
    clear: both;
}
.main-contents{
    height: 800px;
    background-color: white;
    float: left;
    width: 80%;
}
.left-navi{
    height: 800px;
    background-color: whitesmoke;
    width: 20%;
    float: right;

}
.right-navi{
    background-color: whitesmoke;
    height: 800px;
    float: right;
    width: 20%;
}
.main{
    width: 80%;
    float: right;
}