div.outline#out{
    text-align: center;
}

header{
    display: flex;
    position: relative;
    left: 50px;
}
div.header#text{
    width: 500px;
    margin-left: 20px;
}
div.header > img{
    width: 120px;
}
div.header > h1{
    font-size: 50px;
    border-bottom: solid 20px #87cefa;
}

div.header#header{
    width: 100%;
}
div.header#header > img{
    width: 100%;
}

ul.mainmenu#main{
    text-align: center;
}

ul.mainmenu#main > li{
    display: inline-block;
}
ul.mainmenu#main > li > a{
    text-decoration: none;
    font-size: 35px;
    color: #000000;
}
ul.mainmenu#main > li:not(.menu1){
    margin-left: 250px;
}

div.meinmenu#menu{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}


