/* ヘッダー全体 */
header{
    display: flex;
    border: solid 1px black;
    height: 69px;
    width: 100%; 
}

ul.title{
    display: flex;
    padding-left: 3px;
}
li.header{
    list-style-type: none;
}

li.header#icon{
    margin-top: -5px;
    margin-right: 10px;
}
img.icon{
    width: 39px;
}
li.header#title{
    margin-top: 0px;
}
li.header#title > p{
    font-size: 20px;
    margin: 0;
}

ul.menu{
    display: none;
}

div.sp-menu{
    width: 39px;
    height: 39px;
    border: 1px solid black;
    margin: 15px 13px 16px auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}
span.line{
    border: 1px solid #000;
    width: 25px;
    margin-top: 9px;
}

div.picture > img{
    width: 100%;
}

div.menuright{
    display: none;
}

article.article{
    width: 360px;
    height: 435px;
    margin: 12px auto 15px auto;
    border: 1px solid black;
    text-align: center;
}

div.inline{
    width: 346px;
    height: 354px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1px;
}

div.article-now{
    display: flex;
    border: 1px solid black;
    box-shadow: 2px 2px 3px gainsboro ;
    height: 65px;
}
div.article-now:not(#one){
    margin-top: 20px;
}
div.article-now#one{
    margin-top: 9px;
}
img.thubnail{
    width: 40px;
    height: 40px;
    margin: auto 10px auto 5px;
}

section.page-menu{
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 3px 3px 3px gainsboro;
    margin-bottom: 10px;
}
div.tree-menu{
    width: 360px;
    height: 500px;
    font-size: 20px;
}
ul.tree{
    list-style: none;
    margin-left: 15px;
    padding-left: 30px;
    border-left: 1px black solid;
}
ul.tree#top{
    padding-right: 30px;
    border-left: initial;
}
li.path{
    margin-bottom: 15px;
}
li.path > a{
    border-bottom: 1px black solid;
    text-decoration: none;
    color: black;
}

footer{
    height: 50px;
    width: 100%;
    background-color: gainsboro;
    text-align: right;
}

img.sns-icon{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 10px;
    width: 42px;
}