header {
    display: flex;
    border: solid 1px black;
    height: 100px;
}

ul.title{
    display: flex;
}
li.header{
    list-style: none;
}

li.header#icon{
    margin-top: -7.5px;
    margin-right: 30px;
}
img.icon{
    width: 85px;
}
li.header#title{
    margin-top: 0px;
}
li.header#title > p{
    font-size: 48px;
    margin: 0;
}
ul.menu{
    display: flex;
    margin: 16px 20px 16px auto;
    align-items:flex-end;
}
div.sp-menu{
    display: none;
}
li.menu{
    list-style: none;
}
ul.menu > li{
    margin-left: 50px;
}
a.menu{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

div.picture{
    position: relative;
    margin-top: 1px;
    width: fit-content;
    max-height: 700px;
    margin-right: auto;
    margin-left: auto;
}
div.picture > h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 128px;
    margin: 0 30px ;
}
div.picture > img{
    max-width: 100%;
    max-height: 700px;
}

div.info{
    display: flex;
}
div.slide-pic {
    width: fit-content;
    height: 460px;
}
img.about {
    width: 680px;
    height: 460px;
    
}