header {
    display: flex;
    border: solid 1px black;
    height: 100px;
}

ul.title{
    display: flex;
}
li.header{
    list-style: none;
}

li.header#icon{
    margin-top: -7.5px;
    margin-right: 30px;
}
img.icon{
    width: 85px;
}
li.header#title{
    margin-top: 0px;
}
li.header#title > p{
    font-size: 48px;
    margin: 0;
}
ul.menu{
    display: flex;
    margin: 16px 20px 16px auto;
    align-items:flex-end;
}
div.sp-menu{
    display: none;
}
li.menu{
    list-style: none;
}
ul.menu > li{
    margin-left: 50px;
}
a.menu{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

div.picture{
    position: relative;
    margin-top: 1px;
    width: 1900px;
    height: 700px;
    background-image: url('./pictures/about_header.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}
div.picture > h2.over {
    position: absolute;
    color: white;
    font-size: 128px;
    margin: 3px 15px 0 0;
    right: 0;
    bottom: 0;
}

div.slide-pic{
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
}
img.about {
    width: 700px;
    object-fit: cover;
}

div.content{
    width: 1900px;
    margin: 0 auto 0 auto;
}

div.info {
    display: flex;
}

div.text {
    margin-top: 100px;
    font-size: 30px;
    margin-left: 100px;
}

/* スライドショー関係 */
div.slide-pic{
    position: relative;
    background-color: white;
}


.slide-pic img:nth-of-type(1){
    z-index: 1;
    position: absolute;
}
.slide-pic img:nth-of-type(2){
    animation-delay: 9s;
    z-index: 2;
    animation-duration: 18s;
}
.slide-pic img:nth-of-type(3){
    animation-delay: 0s;
    z-index: 3;
    animation-duration: 18s;
}

.slide-pic img:not(img:nth-of-type(1)){
    /* display: none; */
    position: absolute;
    animation-name: slide-show;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes slide-show{
    0% {
        right: 0;
    }
    50%{
        right: 120%;
    }
    100%{
        right: 120%;
    }
}