div.outline#out{
    text-align: center;
}

header{
    display: flex;
    position: relative;
    left: 50px;
}
div.header#text{
    width: 500px;
    margin-left: 20px;
}
div.header > img{
    width: 120px;
}
div.header > h1{
    font-size: 50px;
    border-bottom: solid 20px #87cefa;
}

div.header#header{
    width: 100%;
}
div.header#text > h1 > a{
    text-decoration: none;
    color: black;
}
div.header#header > img{
    width: 100%;
}

ul.mainmenu#main{
    text-align: center;
}

ul.mainmenu#main > li{
    display: inline-block;
}
ul.mainmenu#main > li > a{
    text-decoration: none;
    font-size: 35px;
    color: #000000;
}
ul.mainmenu#main > li:not(.menu1){
    margin-left: 200px;
}

div.meinmenu#menu{
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    white-space: nowrap;
}

img.sns-icon#twitter{
    width: 100px;
    margin-right: 100%;
}

/* 空白スペース */
div.space#space{
    width: 100%;
    height: 100px;
}

div.article{
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 20%;
}
p.article#article{
    font-size: 70px;
    text-decoration: none;
    margin-right: 5%;
}

/* Twitterアイコンdiv */
div.sns#twitter{
    margin-left: 15%;
}